body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    background-color: #ffffff;
}

h1 {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

ul,
li {
    list-style-type: none;
}

.header-address a,
.nav-link {
    text-decoration: none;
    color: #434455;
}

.header-address a:hover,
.nav-link:hover {
    color: #404bbf;
}

.solution {
    background: #2e2f42;
    text-align: center;
    color: #ffffff;
}

.solution-button {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-size: 16px;
    background-color: #4d5ae5;
    text-align: center;
    color: #ffffff;
}

.solution-button:focus,
.solution-button:hover {
    background: #404bbf;
    cursor: pointer;
}

.opportunities h3,
.opportunities-h2 {
    font-weight: 500;
}

.team h3,
.team-h2 {
    font-weight: 500;
}

.portfolio h2 {
    font-weight: bold;
}

footer {
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.footer p {
    color: #f4f4fd;
}

a {
    color: #000;
    text-decoration: underline;
}

a:hover {
    color: #404bbf;
}
