body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;
    background: white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    text-transform: none;
    line-height: normal;
    letter-spacing: 2px;
    text-indent: 2px; 
}



ul, li{
    list-style-type: none;
}

.header {
    background: #E7E9FC;
}

.main{
    color: black;
}

.footer{
    background: #2E2F42;
}

.address{
    color: black;
}

.case_1 {
    background: #2E2F42;
}

.opportunities{
    background: white;
}

.team{
    background: #F4F4FD;
}


a{
    text-decoration: none;
    color: black;
}

